
.navbar {
    background-color: black; 
}

.navbar-brand {
    font-weight: bold; 
}

.nav-link {
    color: white; 
}


.Image {
    text-align: center; 
    padding: 50px; 
}

h1 {
    font-size: 36px; 
}

h4 {
    font-size: 18px; 
}


img {
    max-width: 50%; 
    height: 50px; 
}
